.slider ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 3fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  padding: 2rem;
}


.slider {
  overflow: hidden;
  margin: 25px;
}
