.register {
  background-color: white;
  height: 100vh;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-bottom: 30px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.firstName__lastName {
  display: flex;
  justify-content: space-between;
}

.register__logo {
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.register__container {
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.register__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.register__container > form > h5 {
  margin-bottom: 5px;
}

.register__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.formInput:focus {
  border: 1px solid #f0c14b !important;
}

.register__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.register__signInButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid #f0c14b;
  margin-top: 10px;
  border-radius: 20px !important;
}

.register__registerButton {
  background: #f0cd76;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: none;
  margin-top: 10px;
  border-radius: 20px !important;
}

input[type="checkbox"] {
  visibility: hidden;
}
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin-left: -20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px #fff, 0px 1px 0px #fff;
  -moz-box-shadow: inset 0px 1px 1px #fff, 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 1px #fff, 0px 1px 0px #fff;
}
.slideThree:after {
  content: "Reject";
  font: 8px/26px Arial, sans-serif;
  color: #ff0000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.slideThree:before {
  content: "Agree";
  font: 9px/26px Arial, sans-serif;
  color: #f0c14b;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.slideThree label {
  display: block;
  width: 34px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(
    to bottom,
    #fcfff4 0%,
    #dfe5d7 40%,
    #b3bead 100%
  );
  background: -moz-linear-gradient(
    to bottom,
    #fcfff4 0%,
    #dfe5d7 40%,
    #b3bead 100%
  );
  background: -o-linear-gradient(
    to bottom,
    #fcfff4 0%,
    #dfe5d7 40%,
    #b3bead 100%
  );
  background: -ms-linear-gradient(
    to bottom,
    #fcfff4 0%,
    #dfe5d7 40%,
    #b3bead 100%
  );
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type="checkbox"]:checked + label {
  left: 43px;
}

.passwordInput {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.formInput {
  /* height: 5px !important; */
  padding: 10px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  width: 100% !important;
  border-radius: 20px !important;
}
.formInputPassword {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.formInput:focus {
  outline: 0 !important;
}

.form__symbol {
  padding: 5px !important;
  padding-bottom: 5px !important;
  margin-right: 10px !important;
  height: 34px !important;
  background-color: #f0c14b !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #cd9042;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #cd9042;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.register__signInButton:focus {
  outline: none;
}
